
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class='row'>
        <div class='col-md-8'>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                    <div class="item  active">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
        </div>
    </div>
</div>

<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid" />
                    </div>
                    <div class="col-sm-9">
                        <h3>Report 1</h3>
                        <small></small>
                        <small class="smallest mute"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid" />
                    </div>
                    <div class="col-sm-9">
                        <h3>Report 1</h3>
                        <small></small>
                        <small class="smallest mute"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid" />
                    </div>
                    <div class="col-sm-9">
                        <h3>Report 1</h3>
                        <small></small>
                        <small class="smallest mute"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid" />
                    </div>
                    <div class="col-sm-9">
                        <h3>Report 1</h3>
                        <small></small>
                        <small class="smallest mute"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid" />
                    </div>
                    <div class="col-sm-9">
                        <h3>Report 1</h3>
                        <small></small>
                        <small class="smallest mute"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid" />
                    </div>
                    <div class="col-sm-9">
                        <h3>Report 1</h3>
                        <small></small>
                        <small class="smallest mute"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







